header.header
    .wrapper
        .header-block
            .header-block-nav
                .header-block-nav__logo
                    a(href="/")
                        .page__img
                            img(src="assets/img/img-logo.png")
                .header-block-nav          
                    a(href="#").page__link ПЛАТФОРМА
                    a(href="#").page__link.padding_left-30 Бизнес-архитектура
                    a(href="#").page__link Продукты
                    a(href="#").page__link Безопасность
                    a(href="#").page__link Преимущества
                    a(href="#").page__link цифры
                    a(href="#").page__link клиенты
                    a(href="#").page__link новости